body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 80%;
    max-width: 1200px;
    background: #ffffff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

nav {
    background-color: #003366;
    color: white;
    padding: 20px;
    border-radius: 8px;
   
}

nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
}

nav ul li {
    margin: 20px 0;
    background-color: lightgrey;
    border-radius: 4px;
    box-shadow: 0 0 5px lightgrey;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    display: block;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
}

nav ul li a:hover {
    background-color: #00509e;
}
.form-content{ 
    padding: 20px;
}
form {  
    padding: 20px;
}

form label, h2 {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
    color: #003366;
}

form input,
form textarea,
form input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Biztosítja, hogy a padding és a border is beleszámítson a szélességbe */
}


form input[type="submit"] {
    width: 100%;
    background-color: #003366;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
}

form input[type="submit"]:hover {
    background-color: #00509e;
}

p {
    text-align: center;
    color: red;
    font-weight: bold;
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr; /* Egysoros elrendezés */
        grid-template-rows: auto auto; /* Menü és form külön sorban */
    }

    nav {
        padding: 10px;
    }

    nav ul {
        flex-direction: row; /* Menüpontok vízszintesen */
        justify-content: space-around;
    }

    nav ul li {
        margin: 5px 0; /* Csökkentett margók */
        flex-grow: 1;
        text-align: center;
    }

    form {
        padding: 15px;
    }
}
