/* Globális stílusok */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
    color: #333;
   
 
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
/* Login konténer */
.login-container {
   
    background-color: #ffffff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

/* Címsor */
.login-container h2 {
    color: #003366;
    margin-bottom: 20px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

/* Form group */
.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    font-weight: bold;
    color: #003366;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
}

/* Gomb stílus */
button[type="submit"] {
    width: 100%;
    background-color: #003366;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #00509e;
}

/* Hibaüzenet */
.error {
    color: red;
    background-color: #ffe6e6;
    border: 1px solid red;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    font-size: 14px;
}

/* Reszponzív design */
@media (max-width: 768px) {
    .login-container {
        padding: 15px 20px;
    }

    button[type="submit"] {
        font-size: 14px;
    }
}
/*login eye*/
.form-group {
    position: relative;
    margin-bottom: 1.5rem;
}

#togglePassword {
    position: absolute;
    right: 10px;
    top: 30px;
    cursor: pointer;
    font-size: 18px;
}
